[Unit]
Description=ambit
ConditionUser=!root
StopWhenUnneeded=true

[Service]
Type=simple
ExecStart=/usr/bin/env ambit_demoscene
Restart=on-failure

[Install]
WantedBy=sys-devices-pci0000:00-0000:00:1a.0-usb1-1\x2d1-1\x2d1.6-1\x2d1.6:1.4-sound-card1.device
